nav {
  display: flex;
  justify-content: space-between;
  color: #fff;
  position: relative;
  padding: 25px;
  z-index: 11;
  background-color:rgb(16, 25, 27);
  box-shadow:rgba(16, 25, 27, 0.9) 0px 3px 11px;
}

.fas {
  cursor: pointer;
}

.menu-icon {
  display: none;
  font-size: 23px;
}
.menu-icon .fa-times {
  transform: rotate(360deg);
  transition: all 0.2s ease-in-out;
  color: #0036c9;

}
.menu-icon .fa-bars {
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
}
.logo {
  font-weight: 600;
  font-size: 25px;
  color: rgb(70, 5, 255);
  text-decoration: none;
}
.logo font {
  color: #fff;
}
@supports (-webkit-background-clip: text) {
  .logo,.logo font {
    color: transparent;
    background: linear-gradient(7deg, #0036c9 50%, rgb(255, 255, 255) 0);
    -webkit-background-clip: text;
  }
}

.menu-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list li:last-child a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  padding: 5px 10px;
  margin-left: 20px;
  transition: 0.5s;
  background-color: rgb(70, 5, 255);
  border-radius: 15px;
}
.menu-list li:last-child a:hover{
  background-color: #9400ff;
  color: #fff;
}

.menu-list li a {
  text-decoration: none;
  color: #fff;
  font-weight: 200;
  padding: 5px 10px;
  margin-left: 20px;
  transition: 0.5s;
  font-family: 'Nunito', sans-serif;
}

.menu-list li a:hover{
  color: #0036c9;

}
/* .menu-list li a.active {
  border-radius: 2px;
  color: rgb(158, 51, 51);
  transition: all 0.5s ease-in-out;
} */

@media screen and (max-width: 800px) {
  .logo {
    font-size: 20px;
  }
  .menu-list li a {
    font-size: 20px;
    margin-left: 10px;
    padding: 10px 1px; 
 
  }
}

@media screen and (max-width: 800px) {
  .menu-icon {
    display: block;
  }
  .menu-list {
    flex-direction: column;
    width: 100%;
    position: absolute;
    background: rgb(26, 31, 41);
    padding: 50px;
    right: 0;
    top: 64px;
    transition: all 0.5s ease-in-out;
  }

  .menu-list li {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  .menu-list li:last-child {
    margin-bottom: 0px;
  }

  .menu-list li a,
  .menu-list li:last-child a {
    width: 200px;
    display: block;
    margin: auto;
  }
 
  .menu-list.close {
    right: 100%;
    transition: all 0.5s ease-in-out;
  }
}
